body { 
    text-align: center;
    background-image: url();
    background-size: 500px;
    background-color: rgb(73, 85, 139);
}
h1{
    text-align: center;
    color: rgb(104, 81, 6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(orange,yellow);
}
.classRow {
    display: flex;
    flex-direction: row;

}
.wall{
    width: 20px;
    height: 20px;
    background-color: black;
}
.floor{
    width: 20px;
    height: 20px;
    background-color: blue;
}
.start{
    width: 20px;
    height: 20px;
    background-color: red;
}
.finish{
    width: 20px;
    height: 20px;
    background-color: green;

}
#boardGame{
    display: flex;
    align-items: center;
}
#mazeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player{
    width: 15px;
    height: 15px;
    background-color: yellow;
    position: absolute;
}
#winner{
    display: none;
}